$color1 : #fbe000;
$color2: #231f20;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $color2;
    color: $color1;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
        .headerLogo {
            border: ridge 1px #fff;
            display: flex;
            flex-direction: column;
            padding: 10px;
                span {
                    margin: 5px;
                }
        } 
        .headerNav {
            align-self: center;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                    li {
                        list-style-type: none;
                    }
            }
        }
}

.seccionTitulos {
    background-color: $color1;
        .titulosByCountry {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
            justify-items: center;
            align-items: center;
        }
}
.ligaEspanola {
    padding: 20px;
    margin: 15px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
        h1 {
            grid-column-start: 1;
            grid-column-end: 3;
            font-size: 50px;
            text-align: center;
        }
        table {
            box-shadow: 1px 1px 3px;
            background-color: #231f20;
            border: solid #231f20 1px;
            width: 100%;
            thead {
                th {
                    background-color: rgb(209, 205, 205);
                    border: solid #231f20 1px;
                }
            }
            tbody {
                th {
                    border: solid #231f20 1px;
                    text-align: center;
                }
                td {
                    border: solid #231f20 1px;
                    text-align: center;
                }
            }
        }
        .glosario {
            padding: 15px;
            box-shadow: 2px 2px 6px;
            text-align: center;
                hr {
                    margin: 10px;
                }
                .glosario-significados {
                    margin: 10px;
                    display: grid;
                    grid-template-rows: repeat(11, 1fr);
                    grid-row-gap: 4px;
                        div {
                            display: grid;
                            margin-left: 22%;
                            grid-template-columns: 30% 70%;
                                .descripcion {
                                    text-align: left;
                                }
                        }
                }
                .glosario-explicacion {
                    margin: 10px;
                    display: grid;
                    grid-template-rows: repeat(3, 1fr);
                    grid-row-gap: 4px;
                    margin-left: 12%;
                        div {
                            display: flex;
                            flex-direction: row;
                            padding: 5px;
                            margin-left: 5px;
                                .bloqueUno {
                                    width: 18px;
                                    height: 15px;
                                    background-color: #fbe000;
                                }
                                .bloqueDos {
                                    width: 18px;
                                    height: 15px;
                                    background-color: rgb(209, 205, 205);
                                }
                        }
                }
                .laLigaIcon {
                    padding: 10px;
                        img {
                            height: 80%;
                            width: 80%;
                        }
                }
        }
}

@media screen and (max-width: 992px){
    .ligaEspanola {
        display: grid;
        grid-template-rows: 60px 1fr auto;
        grid-template-columns: 1fr;
            h1 {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            .glosario {
                .glosario-significados {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    grid-gap: 15px;
                }
                .glosario-explicacion {
                    justify-content: center;
                }
                .laLigaIcon {
                    img {
                        width: 450px;
                        height: 400px;
                    }                   
                }
            }       
    }
}